In [1]:
# Dependencies
import pandas as pd
import numpy as np

In [2]:
# Import file
file = "Data/Mortality_Rate.txt"
df = pd.read_csv(file, encoding="ISO-8859-1", sep='\t')
display(df)

,Notes,Leading Cancer Sites,Leading Cancer Sites Code,State,State Code,Year,Year Code,Race,Race Code,Sex,Sex Code,Deaths,Population,Age-Adjusted Rate
0,NaN,Breast,26000.0,Alabama,1.0,2000.0,2000.0,Black or African American,2054-5,Female,F,166.0,627439.0,29.7
1,NaN,Breast,26000.0,Alabama,1.0,2000.0,2000.0,White,2106-3,Female,F,524.0,1643761.0,25.9
2,NaN,Breast,26000.0,Alabama,1.0,2001.0,2001.0,Black or African American,2054-5,Female,F,219.0,630901.0,38.7
3,NaN,Breast,26000.0,Alabama,1.0,2001.0,2001.0,White,2106-3,Female,F,528.0,1645541.0,25.8
4,NaN,Breast,26000.0,Alabama,1.0,2002.0,2002.0,Black or African American,2054-5,Female,F,167.0,633374.0,29.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016,data set. Death rates may differ slightly from...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017,"4. For the 2005 year, the Census Bureau estima...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018,Texas due to Hurricanes Katrina and Rita. CDC ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019,"these states, nor are these counts included in...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020,"population. However, the USCS web site does in...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
# Drop all columns without any information
df_dropped = df.drop(columns=['Notes','Leading Cancer Sites Code', 'Leading Cancer Sites', 'Race Code', 'State Code', 'Year Code' ],axis=1)
df_dropped = df_dropped.dropna(how='any')
display(df_dropped)

,State,Year,Race,Sex,Sex Code,Deaths,Population,Age-Adjusted Rate
0,Alabama,2000.0,Black or African American,Female,F,166.0,627439.0,29.7
1,Alabama,2000.0,White,Female,F,524.0,1643761.0,25.9
2,Alabama,2001.0,Black or African American,Female,F,219.0,630901.0,38.7
3,Alabama,2001.0,White,Female,F,528.0,1645541.0,25.8
4,Alabama,2002.0,Black or African American,Female,F,167.0,633374.0,29.2
...,...,...,...,...,...,...,...,...
1962,Wyoming,2014.0,White,Female,F,50.0,268767.0,14.1
1963,Wyoming,2015.0,White,Female,F,68.0,270054.0,19.7
1964,Wyoming,2016.0,White,Female,F,68.0,269349.0,20.0
1965,Wyoming,2017.0,White,Female,F,56.0,266963.0,16.5
1966,Wyoming,2018.0,White,Female,F,70.0,266262.0,20.6

In [4]:
df_clean_mortality = df_dropped[df_dropped["Race"]!="Other Races and Unknown combined"]
df_clean_mortality

,State,Year,Race,Sex,Sex Code,Deaths,Population,Age-Adjusted Rate
0,Alabama,2000.0,Black or African American,Female,F,166.0,627439.0,29.7
1,Alabama,2000.0,White,Female,F,524.0,1643761.0,25.9
2,Alabama,2001.0,Black or African American,Female,F,219.0,630901.0,38.7
3,Alabama,2001.0,White,Female,F,528.0,1645541.0,25.8
4,Alabama,2002.0,Black or African American,Female,F,167.0,633374.0,29.2
...,...,...,...,...,...,...,...,...
1962,Wyoming,2014.0,White,Female,F,50.0,268767.0,14.1
1963,Wyoming,2015.0,White,Female,F,68.0,270054.0,19.7
1964,Wyoming,2016.0,White,Female,F,68.0,269349.0,20.0
1965,Wyoming,2017.0,White,Female,F,56.0,266963.0,16.5
1966,Wyoming,2018.0,White,Female,F,70.0,266262.0,20.6

In [5]:
df_clean_mortality.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1967 entries, 0 to 1966
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   State              1967 non-null   object
 1   Year               1967 non-null   float64
 2   Race               1967 non-null   object
 3   Sex                1967 non-null   object
 4   Sex Code           1967 non-null   object
 5   Deaths             1967 non-null   float64
 6   Population         1967 non-null   float64
 7   Age-Adjusted Rate  1967 non-null   float64
dtypes: float64(4), object(4)
memory usage: 138.3+ KB

In [6]:
df_clean_mortality['Race'].unique()

array(['Black or African American', 'White',
       'American Indian or Alaska Native', 'Asian or Pacific Islander'],
      dtype=object)

In [6]:
df_clean_mortality.dtypes

State                 object
Year                 float64
Race                  object
Sex                   object
Sex Code              object
Deaths               float64
Population           float64
Age-Adjusted Rate    float64
dtype: object

In [7]:
df_clean_mortality = df_clean_mortality.to_csv("Resources/Final_Clean_Data_Mortality.xlsx")