In [78]:
# Dependencies
import pandas as pd
import numpy as np

# import psycopg2
from sqlalchemy import create_engine
import statistics

In [79]:
import plotly.express as px
import hvplot.pandas
from sklearn.cluster import KMeans

In [120]:
# example of a dummy variable encoding
from numpy import asarray
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OrdinalEncoder
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import OneHotEncoder

In [81]:
# # Files to load
incidence_file= "Data/BreastCA_incidence_byRace_Sex.csv"

In [82]:
# Read the incidence data file and store it in a pandas DataFrame
incidence_df= pd.read_csv(incidence_file)
print(incidence_df)

     Notes Leading Cancer Sites  Leading Cancer Sites Code   States  \
0      NaN               Breast                      26000  Alabama
1      NaN               Breast                      26000  Alabama
2      NaN               Breast                      26000  Alabama
3      NaN               Breast                      26000  Alabama
4      NaN               Breast                      26000  Alabama
..     ...                  ...                        ...      ...
343    NaN               Breast                      26000  Wyoming
344    NaN               Breast                      26000  Wyoming
345    NaN               Breast                      26000  Wyoming
346    NaN               Breast                      26000  Wyoming
347    NaN               Breast                      26000  Wyoming

     States Code                              Race Race Code     Sex Sex Code  \
0              1  American Indian or Alaska Native    1002-5  Female        F
1              1         Asian or Pacific Islander      A-PI  Female        F
2              1         Black or African American    2054-5  Female        F
3              1         Black or African American    2054-5    Male        M
4              1                             White    2106-3  Female        F
..           ...                               ...       ...     ...      ...
343           56  American Indian or Alaska Native    1002-5  Female        F
344           56         Asian or Pacific Islander      A-PI  Female        F
345           56         Black or African American    2054-5  Female        F
346           56                             White    2106-3  Female        F
347           56                             White    2106-3    Male        M

     Count
0       95
1      458
2    16042
3      157
4    51619
..     ...
343    117
344     39
345     24
346   6878
347     73

[348 rows x 10 columns]

In [83]:
incidence_df.head(10)

,Notes,Leading Cancer Sites,Leading Cancer Sites Code,States,States Code,Race,Race Code,Sex,Sex Code,Count
0,NaN,Breast,26000,Alabama,1,American Indian or Alaska Native,1002-5,Female,F,95
1,NaN,Breast,26000,Alabama,1,Asian or Pacific Islander,A-PI,Female,F,458
2,NaN,Breast,26000,Alabama,1,Black or African American,2054-5,Female,F,16042
3,NaN,Breast,26000,Alabama,1,Black or African American,2054-5,Male,M,157
4,NaN,Breast,26000,Alabama,1,White,2106-3,Female,F,51619
5,NaN,Breast,26000,Alabama,1,White,2106-3,Male,M,463
6,NaN,Breast,26000,Alabama,1,Other Races and Unknown combined,2131-1,Female,F,490
7,NaN,Breast,26000,Alaska,2,American Indian or Alaska Native,1002-5,Female,F,1389
8,NaN,Breast,26000,Alaska,2,Asian or Pacific Islander,A-PI,Female,F,436
9,NaN,Breast,26000,Alaska,2,Black or African American,2054-5,Female,F,203

## cleaning data

In [84]:
# Dropping columns 
incidence_df.drop(columns= ['Notes','Leading Cancer Sites Code','States Code','Race Code'],inplace=True)
incidence_df

,Leading Cancer Sites,States,Race,Sex,Sex Code,Count
0,Breast,Alabama,American Indian or Alaska Native,Female,F,95
1,Breast,Alabama,Asian or Pacific Islander,Female,F,458
2,Breast,Alabama,Black or African American,Female,F,16042
3,Breast,Alabama,Black or African American,Male,M,157
4,Breast,Alabama,White,Female,F,51619
...,...,...,...,...,...,...
343,Breast,Wyoming,American Indian or Alaska Native,Female,F,117
344,Breast,Wyoming,Asian or Pacific Islander,Female,F,39
345,Breast,Wyoming,Black or African American,Female,F,24
346,Breast,Wyoming,White,Female,F,6878
347,Breast,Wyoming,White,Male,M,73

In [85]:
# retrieve the array of data
data = incidence_df.values

## logistic regression for incidence data

In [197]:
# separate into input and output columns
X = data[:, :-1].astype(str)
y = data[:, 1]

In [216]:
# summarize
print('Input', X.shape)
print('Output', y.shape)

Input (3895, 4)
Output (3895,)

In [217]:
# split the dataset into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.15, random_state=42)

In [218]:
# ordinal encode input variables
ordinal = OrdinalEncoder()
X = ordinal.fit_transform(X)

In [219]:
# ordinal encode input variables
ordinal_encoder = OrdinalEncoder()
ordinal_encoder.fit(X_train)
X_train = ordinal_encoder.transform(X_train)
X_test = ordinal_encoder.transform(X_test)

In [91]:
# # define ordinal encoding
# encoder = OrdinalEncoder()
# # transform data
# result = encoder.fit_transform(data)
# print(result)

In [220]:
# ordinal encode target variable
label_encoder = LabelEncoder()
y = label_encoder.fit_transform(y)
# y_train = label_encoder.transform(y_train)
# y_test = label_encoder.transform(y_test)

In [93]:
# # summarize the transformed data
# print('Input', X.shape)
# print(X[:5, :])
# print('Output', y.shape)
# print(y[:5])

In [221]:
# define the model
model = LogisticRegression()
# fit on the training set
model.fit(X_train, y_train)

C:\Users\I6108\Anaconda3\envs\PythonData\lib\site-packages\sklearn\linear_model\_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression()

In [222]:
# predict on test set
yhat = model.predict(X_test)

## Accuracy score result

In [223]:
# evaluate predictions
accuracy = accuracy_score(y_test, yhat)
print('Accuracy: %.2f' % (accuracy*100))

Accuracy: 14.19

In [224]:
# evaluate predictions
accuracy = accuracy_score(y_test, yhat)
print(accuracy*100)

14.188034188034187

## mortality data

In [116]:
# Import file
file = 'Data/Breast_cancer_bySex_Race_mortalityData.txt'
df = pd.read_csv(file, encoding="ISO-8859-1", sep='\t')
display(df)

,Notes,Leading Cancer Sites,Leading Cancer Sites Code,State,State Code,Year,Year Code,Race,Race Code,Sex,Sex Code,Deaths,Population,Age-Adjusted Rate
0,NaN,Breast,26000.0,Alabama,1.0,2000.0,2000.0,Black or African American,2054-5,Female,F,166.0,627439.0,29.7
1,NaN,Breast,26000.0,Alabama,1.0,2000.0,2000.0,White,2106-3,Female,F,524.0,1643761.0,25.9
2,NaN,Breast,26000.0,Alabama,1.0,2001.0,2001.0,Black or African American,2054-5,Female,F,219.0,630901.0,38.7
3,NaN,Breast,26000.0,Alabama,1.0,2001.0,2001.0,White,2106-3,Female,F,528.0,1645541.0,25.8
4,NaN,Breast,26000.0,Alabama,1.0,2002.0,2002.0,Black or African American,2054-5,Female,F,167.0,633374.0,29.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016,data set. Death rates may differ slightly from...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017,"4. For the 2005 year, the Census Bureau estima...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018,Texas due to Hurricanes Katrina and Rita. CDC ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019,"these states, nor are these counts included in...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020,"population. However, the USCS web site does in...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [117]:
# Identify incomplete rows
df.count()

Notes                          54
Leading Cancer Sites         1967
Leading Cancer Sites Code    1967
State                        1967
State Code                   1967
Year                         1967
Year Code                    1967
Race                         1967
Race Code                    1967
Sex                          1967
Sex Code                     1967
Deaths                       1967
Population                   1967
Age-Adjusted Rate            1967
dtype: int64

In [118]:
# Drop all columns without any information
df_dropped = df.drop(columns=['Notes','Leading Cancer Sites Code','State Code','Race Code','Year Code','Sex'],axis=1)
df_dropped = df_dropped.dropna(how='any')
display(df_dropped)

,Leading Cancer Sites,State,Year,Race,Sex Code,Deaths,Population,Age-Adjusted Rate
0,Breast,Alabama,2000.0,Black or African American,F,166.0,627439.0,29.7
1,Breast,Alabama,2000.0,White,F,524.0,1643761.0,25.9
2,Breast,Alabama,2001.0,Black or African American,F,219.0,630901.0,38.7
3,Breast,Alabama,2001.0,White,F,528.0,1645541.0,25.8
4,Breast,Alabama,2002.0,Black or African American,F,167.0,633374.0,29.2
...,...,...,...,...,...,...,...,...
1962,Breast,Wyoming,2014.0,White,F,50.0,268767.0,14.1
1963,Breast,Wyoming,2015.0,White,F,68.0,270054.0,19.7
1964,Breast,Wyoming,2016.0,White,F,68.0,269349.0,20.0
1965,Breast,Wyoming,2017.0,White,F,56.0,266963.0,16.5
1966,Breast,Wyoming,2018.0,White,F,70.0,266262.0,20.6

In [101]:
df_dropped.count()

Leading Cancer Sites    1967
State                   1967
Year                    1967
Race                    1967
Sex Code                1967
Deaths                  1967
Population              1967
Age-Adjusted Rate       1967
dtype: int64

In [127]:
# Import file
file = 'Data/Breast_cancer_incidence_byRace_Sex.txt'
df2 = pd.read_csv(file, encoding="ISO-8859-1", sep='\t')
display(df2)

,Notes,Leading Cancer Sites,Leading Cancer Sites Code,States,States Code,Year,Year Code,Race,Race Code,Sex,Sex Code,Count
0,NaN,Breast,26000.0,Alabama,1.0,1999.0,1999.0,Asian or Pacific Islander,A-PI,Female,F,18.0
1,NaN,Breast,26000.0,Alabama,1.0,1999.0,1999.0,Black or African American,2054-5,Female,F,597.0
2,NaN,Breast,26000.0,Alabama,1.0,1999.0,1999.0,White,2106-3,Female,F,2360.0
3,NaN,Breast,26000.0,Alabama,1.0,1999.0,1999.0,White,2106-3,Male,M,19.0
4,NaN,Breast,26000.0,Alabama,1.0,1999.0,1999.0,Other Races and Unknown combined,2131-1,Female,F,27.0
...,...,...,...,...,...,...,...,...,...,...,...,...
3946,standard groupings of primary cancer sites.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3947,"7. For the 2005 year, the Census Bureau estima...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3948,Texas due to Hurricanes Katrina and Rita. CDC ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3949,"these states, nor are these counts included in...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3950,"population. However, the USCS web site does in...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [128]:
# Identify incomplete rows
df2.count()

Notes                          56
Leading Cancer Sites         3895
Leading Cancer Sites Code    3895
States                       3895
States Code                  3895
Year                         3895
Year Code                    3895
Race                         3895
Race Code                    3895
Sex                          3895
Sex Code                     3895
Count                        3895
dtype: int64

## trying hot encode

## for incidence data

In [225]:
# one hot encode input variables
onehot_encoder = OneHotEncoder(sparse=False)
X = onehot_encoder.fit_transform(X)

In [226]:
data = df_dropped2.values

In [227]:
# separate into input and output columns
X = data[:, :-1].astype(str)
y = data[:, -1].astype(str)

In [228]:
# one hot encode input variables
onehot_encoder = OneHotEncoder(sparse=False)
X = onehot_encoder.fit_transform(X)

In [229]:
# ordinal encode target variable
label_encoder = LabelEncoder()
y = label_encoder.fit_transform(y)

In [230]:
# summarize the transformed data
print('Input', X.shape)
print(X[:5, :])

Input (3895, 59)
[[1. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 1. 0. 0. 0. 1. 0.]
 [1. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 1. 0. 0. 1. 0.]
 [1. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 0. 1. 1. 0.]
 [1. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 1.]
 [1. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 1. 0. 1. 0.]]

In [231]:
# one-hot encode input variables
onehot_encoder = OneHotEncoder()
onehot_encoder.fit(X_train)
X_train = onehot_encoder.transform(X_train)
X_test = onehot_encoder.transform(X_test)

In [232]:
# ordinal encode target variable
label_encoder = LabelEncoder()
label_encoder.fit(y_train)
y_train = label_encoder.transform(y_train)
y_test = label_encoder.transform(y_test)

In [233]:
# define the model
model = LogisticRegression()

In [234]:
# fit on the training set
model.fit(X_train, y_train)

LogisticRegression()

In [235]:
# predict on test set
yhat = model.predict(X_test)

In [236]:
# evaluate predictions
accuracy = accuracy_score(y_test, yhat)
print('Accuracy: %.2f' % (accuracy*100))

Accuracy: 100.00